.bg_image{
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.cont{
	padding-top: 80px;
}
@media (max-width: 768px){
	.bg_image{
		min-height: 100vh;
	}
}
.form_block{
	background-color: #009aee;
	opacity: 0.8;
}
.input_dec.form-control{
	border: none;
	border-bottom: 2px solid #0174b9;
	background: transparent;
	border-radius: 0px;
	outline: none;
	color: #fff!important;
}
.form-control::placeholder {
 color: #fff!important;
 opacity: 1;
 }
::placeholder{
	color: #fff;
}
.button_login{
	background-color: #fff;
	height: 42px;
	width: 100%;
	border: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: arial;
	font-weight: bolder;
	font-size: 16px;
	color: #3944bc;
}
.sign-up-fb{
	background-color: #fff;
	width: 70%;
	height: 43px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	text-align: right;
	border: none;
}
.fb_logo{
	width: 28px;
	height: 28px;
	
}
.fb-text{
	padding-left: 8px;
	padding-right: 10px;
	color: #1877f2;
}
a:link { 
	text-decoration: none; 
	color: #fff;
}
h6{
	text-align: right;
}
.input_dec.form-control:focus{
	border-bottom: 2px solid #0174b9;
	background: transparent;
	box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}
p{
    position: absolute;
}
#togglePassword{
	width: 20px; 
	height: 20px;
	color: #fff;
	bottom: 5px;
	right: 0px;
	
}