.bg_image{
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.cont{
	padding-top: 80px;
}
@media (max-width: 768px){
	.bg_image{
		min-height: 100vh;
	}
}
.form_block{
	background-color: #009aee;
	opacity: 0.8;
}
.btn{
	width: 250px;

}
::placeholder{
	color: #fff;
}
.select_dec{
	border-left: none;
	border-right: none;
	border-top: none;
	background: none;
	border-bottom: 2px solid #fff;
	color: #fff;
	outline: none;
}
.button_login{
	background-color: #fff;
	height: 42px;
	width: 100%;
	border: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: arial;
	font-weight: bolder;
	font-size: 16px;
	color: #3944bc;
}
.login_form .form-control{
	border: none ;
	border-bottom: 2px solid #0174b9;
	background: transparent;
	border-radius: 0px;
	outline: hidden;
	color: #fff!important;

}
.form-control::placeholder {
 color: #fff!important;
 opacity: 1;
 }
 .dropdown.form-control{
 	color: #fff;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}

.login_form .form-control:focus{
	border-bottom: 2px solid #0174b9;
	background: transparent;
	box-shadow: none;
}

input[type=number] {
    -moz-appearance:textfield;
}
#togglePassword{
	width: 20px; 
	height: 20px;
	color: #fff;
	bottom: 5px;
	right: 0px;
	
}
p{
    position: absolute;
}
#enter_pass{
	margin-top: -15px;
}
#enter_city{
	margin-top: 40px;
}
#enter_state{
	margin-top: -15px; 
	margin-left: 122px;
}
#reg_city_check{
	background: none;
	color: #dddddd!important;
}
#reg_state_check{
	background: none;
	color: #dddddd!important;
}
#reg_country_check{
	background: none;
	color: #dddddd!important;
}
#reg_city_check::placeholder {
 color: #dddddd!important;
}
#reg_state_check::placeholder {
 color: #dddddd!important;
}
#reg_country_check::placeholder {
 color: #dddddd!important;
}

#reg_addr_check {
    resize: none;
}
