.form-control{
	background: transparent;
	border-right: 0;
}
.form_block{
	background-color: #009aee;
	opacity: 0.9;
}
.bg_image{
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.input_otp{
	border-color: #0174b9;
	border-right: none;
	border-left: none;
	border-top: none;
	background: none;
	outline: none;
	width: 1px;
	display: inline;
	color: #fff;
	
}
.input_dec.form-control{
	border: none;
	border-bottom: 2px solid #0174b9;
	background: transparent;
	border-radius: 0px;
	outline: none;
	color: #fff!important;
}
.form-control::placeholder {
 color: #fff!important;
 opacity: 1;
 }
.button_login{
	background-color: #fff;
	height: 42px;
	width: 100%;
	border: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: arial;
	font-weight: bolder;
	font-size: 16px;
	color: #3944bc;
}
.form_block{
	background-color: #009aee;
	opacity: 0.8;
}
.input[type=number]::-webkit-inner-spin-button, 
.input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.sign-up-fb{
	background-color: #fff;
	width: 70%;
	height: 43px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	text-align: right;
	border: none;
	padding-left: 8px;
	padding-right: 10px;
	color: #1877f2;
}
.fb_logo{
	width: 28px;
	height: 28px;
	
}
.fb-text{
	padding-left: 8px;
	padding-right: 10px;
	color: #1877f2;
}
a:link { 
	text-decoration: none; 
}
.input_dec.form-control:focus{
	border-bottom: 2px solid #0174b9;
	background: transparent;
	box-shadow: none;
}
.input_otp.form-control:focus{
	border-bottom: 2px solid #0174b9;
	background: transparent;
	box-shadow: none;
	margin: auto;
	width: 120px;
	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}
#togglePassword{
	width: 20px; 
	height: 20px;
	color: #fff;
	bottom: 5px;
	right: 0px;
}
p{
    position: absolute;
    color: red;
}
#enter_pass{
	margin-top: -15px;

}

.error { 
	color: red;
}